.header {
  display: flex;
  justify-content: space-between;
}

.join,
.info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  height: 40px;
  width: 140px;
  border: 1px solid transparent;
  padding: 6px 12px;
  line-height: 1.4;
  border-radius: 4px;
}

.join {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.tag {
  size: 30px;
  font-family: Lato, sans-serif;
}

.loggedout {
  width: 250px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
